<!DOCTYPE html>
<html>
<head>
	<title>Ageing</title>
	<!-- Bootstrap -->
	{% load staticfiles %}
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.9/paper.js"></script>

</head>

<body>
	<canvas id="myCanvas" resize="true" style="
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
	background:black;">
	</canvas>

	<p style="z-index:100;">Enter your birthday:</p>
		<input type="text" id="birth_day" value="20">
		<input type="text" id="birth_month" value="4">
		<input type="text" id="birth_year" value="1992">
		<button id="go" class="btn">GO</button>
		<button id="test" class="btn" href="#aboutModal" data-toggle="modal">Test</button>		

	<p>You've been alive for:
		<ul>
			<li id="years"></li>
			<li id="months"></li>
			<li id="days"></li>
		</ul>
	</p>

	<script type="text/paperscript" canvas="myCanvas">
		// The amount of circles we want to make:
		var count = 70 * 12;

		/*------------------------------------------------------------------------------*/
		// the go button
		$('#go').click(function() {
			var delta;
			var today = new Date();
			today.setHours(0);
			today.setMinutes(0);
			today.setSeconds(0);
			today.setMilliseconds(0);

			var birth_day = $('#birth_day').val();
			var birth_month = $('#birth_month').val() - 1;
			var birth_year = $('#birth_year').val();

			var birth_date = new Date(birth_year, birth_month, birth_day, 0, 0, 0);

			delta = today - birth_date;
			var days = delta / 1000 / 60 / 60 / 24;
			var months = Math.round(days / 30);
			var years = months / 12;

			$('#years').text(years + " years");
			$('#months').text(months + " months");
			$('#days').text(days + " days");

			for (var i = count - months; i < count; i++) {
				var item = project.activeLayer.children[i];
				item.visible = false;
			}
			count = count - months;
		});

		$('#test').click(function() {

		});


		/*------------------------------------------------------------------------------*/
		// Paper.js animations

		// Create a symbol, which we will use to place instances of later:
		var path = new Path.Circle({
			center: [0, 0],
			radius: 10,
			fillColor: 'white',
			strokeColor: 'black'
		});

		var symbol = new Symbol(path);

		// Place the instances of the symbol:
		for (var i = 0; i < count; i++) {
			// The center position is a random point in the view:
			var center = Point.random() * view.size;
			var placedSymbol = symbol.place(center);
			placedSymbol.scale(i / count);
		}

		// The onFrame function is called up to 60 times a second:
		function onFrame(event) {
			// Run through the active layer's children list and change
			// the position of the placed symbols:
			for (var i = 0; i < count; i++) {
				var item = project.activeLayer.children[i];
				
				// Move the item 1/20th of its width to the right. This way
				// larger circles move faster than smaller circles:
				item.position.x += item.bounds.width / 20;

				// If the item has left the view on the right, move it back
				// to the left:
				if (item.bounds.left > view.size.width) {
					item.position.x = -item.bounds.width;
				}
			}
		}
	</script>

	<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	<!-- About Modal -->
    <div id="aboutModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">About</h3>
      </div>
      <div class="modal-body">
        <p>
          Princeton Lost and Found (PLF) is a TigerApp designed to make the return of missing items to members of the Princeton community as quick and painless as possible. This website is the property of the Princeton USG and was created by Sam Lichtenberg ’15, Matt Goldsmith ’15, Reed Tan ’15, and Deric Cheng ’15.
        </p>
        <p>
          Listings on this website are subject to deletion after 90 days if they are unresolved within that time. Users are limited to 5 submissions per three days and 3 postings per three days to prevent spam.
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

</body>
</html>