<!DOCTYPE html>
<html>
<head>
	<title>Ageing</title>
	<!-- Bootstrap -->
	{% load staticfiles %}
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.9/paper.js"></script>

</head>

<body>
	<canvas id="myCanvas" resize="true" style="
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
	background:black;">
	</canvas>

	<script type="text/paperscript" canvas="myCanvas">

	    function timeout(time) {
	    	setTimeout(function() {}, time);
	    };

		function timeoutModal(name1, fn, time) {
			name1.modal('show');
			setTimeout(function() {
				name1.modal('hide');
				fn();
				}
			, time);
		};

		function noTimeoutModal(name1) {
			name1.modal('show');
		};

		var modA = new Array();
		modA[0] = $('#ignore');
		modA[1] = $('#d1');
		modA[2] = $('#d2');
		modA[3] = $('#d3');
		modA[4] = $('#d4');
		modA[5] = $('#d5');
		modA[6] = $('#d6');
		modA[7] = $('#q1');
		modA[8] = $('#a1');


		var delay1 = 1000;

		function s1() { timeoutModal(modA[1], s2, delay1); };
		function s2() { timeoutModal(modA[2], s3, delay1); };
		function s3() { timeoutModal(modA[3], s4, delay1); };
		function s4() { timeoutModal(modA[4], s5, delay1); };
		function s5() { timeoutModal(modA[5], s6, delay1); };
		function s6() { timeoutModal(modA[6], s7, delay1); };


		function s7() { noTimeoutModal(modA[7]); };
		function s8() { timeoutModal(modA[8], null, delay1); };

		s1();

		// The amount of circles we want to make:
		var count = 939;

		/*------------------------------------------------------------------------------*/
		// the go button
		$('#ageButton').click(function() {
			var delta;
			var today = new Date();
			today.setHours(0);
			today.setMinutes(0);
			today.setSeconds(0);
			today.setMilliseconds(0);

			var birth_day = $('#birth_day').val();
			var birth_month = $('#birth_month').val() - 1;
			var birth_year = $('#birth_year').val();

			var birth_date = new Date(birth_year, birth_month, birth_day, 0, 0, 0);

			delta = today - birth_date;
			var days = delta / 1000 / 60 / 60 / 24;
			var months = Math.round(days / 30);
			var years = months / 12;

			$('#years').text(years + " years");
			$('#months').text(months + " months");
			$('#days').text(days + " days");

			for (var i = count - months; i < count; i++) {
				var item = project.activeLayer.children[i];
				item.visible = false;
			}
			count = count - months;

			// hide the first modal and show the second modal
			$('#q1').modal('hide');
			s8();

		});

		/*------------------------------------------------------------------------------*/
		// Paper.js animations

		// Create a symbol, which we will use to place instances of later:
		var path = new Path.Circle({
			center: [0, 0],
			radius: 10,
			fillColor: 'f3e2a9',
			strokeColor: 'black'
		});

		var symbol = new Symbol(path);

		// Place the instances of the symbol:
		for (var i = 0; i < count; i++) {
			// The center position is a random point in the view:
			var center = Point.random() * view.size;
			var placedSymbol = symbol.place(center);
			placedSymbol.scale(i / count);
		}

		// The onFrame function is called up to 60 times a second:
		function onFrame(event) {
			// Run through the active layer's children list and change
			// the position of the placed symbols:
			for (var i = 0; i < count; i++) {
				var item = project.activeLayer.children[i];
				
				// Move the item 1/20th of its width to the right. This way
				// larger circles move faster than smaller circles:
				item.position.x += item.bounds.width / 20;

				// If the item has left the view on the right, move it back
				// to the left:
				if (item.bounds.left > view.size.width) {
					item.position.x = -item.bounds.width;
				}
			}
		}




	</script>

	<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

{# 	{% for modalName in modalContext %}
		<div id="{% " class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	      <div class="modal-body">
	      	<p>On the screen in front of you are exactly 938 little white circles.</p>
	      </div>
	    </div>
    {% endfor %} #}


	<!-- 1st Modal -->
    <div id="d1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-body">
      	<p>On the screen in front of you are exactly 938 little white circles.</p>
      </div>
    </div>

	<!-- 2nd Modal -->
    <div id="d2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-body">
      	<p>Some will be very large and will speed by quickly.</p>
      </div>
    </div>

	<!-- 3rd Modal -->
    <div id="d3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-body">
      	<p>Some may be far away and difficult to see, but trust us, they're there.</p>
      </div>
    </div>

	<!-- 4th Modal -->
    <div id="d4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-body">
      	<p>There is one circle on this screen for every month that the average human being will live.</p>
      </div>
    </div>

	<!-- 5th Modal -->
    <div id="d5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-body">
      	<p>You might have more circles in your life, or you might have less, but on average, this is what we've got.</p>
      	</div>
    </div>

	<!-- 6th Modal -->
    <div id="d6" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-body">
      	<p>Pretend, for a second, that your entire life is contained within this page of circles.</p>
      </div>
    </div>

	<!-- 7th Modal -->
    <div id="q1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-body">
		<p>What day were you born?</p>
      	<input type="text" id="birth_day" value="20">
		<input type="text" id="birth_month" value="4">
		<input type="text" id="birth_year" value="1992">
		<button id="ageButton" class="btn">GO</button>
      </div>
    </div>

	<!-- 8th modal -->
    <div id="a1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-body">
		<p>You've been alive for:
			<ul>
				<li id="years"></li>
				<li id="months"></li>
				<li id="days"></li>
			</ul>
		</p>
      </div>
    </div>

</body>
</html>